<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>All Memos</title>
  </head>
  <body>
    <h1><%= category %> Memos!</h1>
    <ul>
      <% for (let memo of memos) {%>

      <li><a href="/memos/<%= memo._id %>"><%= memo.title %></a></li>
      <% } %>
    </ul>
    <a href="/memos/new">Add new memo</a>
    <% if (category !== "All") { %>
    <a href="/memos">View all</a>
    <% } %>
  </body>
</html>
